{% block content %}
    {% if user.is_authenticated %}
        <div>
            <a href=#>欢迎您：{{user}}</a>
            <a href="/techtopics/logout">注销</a>
        </div>
        {% else %}
            {% if login_require %}
                <p>请先登录！或者<a href="/techtopics/user/register">立即注册</a></p>
            {% endif %}
            <form action="/techtopics/login" method='post'>
                {% csrf_token %}
                <input name='username' type="text" placeholder="用户名">
                <input name='password' type="password" placeholder="密码">
                <button class="btn" type="submit">登录</button>
            </form>
    {% endif %}
    <li><a href="/techtopics/topic/create"> Create New Topic </a></li>
    {% for topic in topic_list %}
        <ul>
            <li><a href="/techtopics/topic/{{ topic.id }}/"> {{ topic.topic }} </a></li>
            <p>发起者：{{ topic.auther }}        <em>创建时间：{{ topic.createtime }}</em></p>
            <h3>{{ topic.introduce }}</h3>

        </ul>
        <a href="/techtopics/topic/delete/{{ topic.id }}/">删除</a>
        <li>
            <span>-------------------------------------------------------------------</span>
        </li>
    {% endfor %}
{% endblock %}